.logoContainer{
    grid-row: 1;
    grid-column: 3;
    margin: auto;
    margin-bottom: 10px;
    .logoText{
        font-family: 'Righteous', cursive;
        font-size: 40px;
        color: #1d1a31;
    }
}